<div class="container">
  <section class="gallery__films">
  <ul class="cards">
    <li class="card__list ">
      <a class="card__item" href="#"><img class="card__img" src="./images/poster-example.jpg" alt="#" loading="lazy" /></a>
      <div class="info">
          <h2 class="info__name" >Name</h2>
          <ul class="info-list">
            <li class="card__genre">
              genre
            </li>
            <li class="card__year">
              year
            </li>
      </div>
    </li>

<li class="card__list ">
  <a class="card__item" href="#"><img class="card__img" src="./images/poster-example.jpg" alt="#" loading="lazy" /></a>
  <div class="info">
      <h2 class="info__name" >Name</h2>
      <ul class="info-list">
        <li class="card__genre">
          genre
        </li>
        <li class="card__year">
          year
        </li>
  </div>
</li>

<li class="card__list ">
  <a class="card__item" href="#"><img class="card__img" src="./images/poster-example.jpg" alt="#" loading="lazy" /></a>
  <div class="info">
      <h2 class="info__name" >Name</h2>
      <ul class="info-list">
        <li class="card__genre">
          genre
        </li>
        <li class="card__year">
          year
        </li>
  </div>
</li>

<li class="card__list ">
  <a class="card__item" href="#"><img class="card__img" src="./images/poster-example.jpg" alt="#" loading="lazy" /></a>
  <div class="info">
      <h2 class="info__name" >Name</h2>
      <ul class="info-list">
        <li class="card__genre">
          genre
        </li>
        <li class="card__year">
          year
        </li>
  </div>
</li>

<li class="card__list ">
  <a class="card__item" href="#"><img class="card__img" src="./images/poster-example.jpg" alt="#" loading="lazy" /></a>
  <div class="info">
      <h2 class="info__name" >Name</h2>
      <ul class="info-list">
        <li class="card__genre">
          genre
        </li>
        <li class="card__year">
          year
        </li>
  </div>
</li>
</li>
</ul>
</section>
</div> 