<div class="backdrop visually-hidden" data-modal>
  <div class="wrapper-modal container">
    <div class="modal-window">
      <button type="button" class="close-btn" data-modal-close>
        <svg class="close-btn-svg close">
          <use href="./images/svg/sprite.svg#close-modal-btn"></use>
        </svg>
      </button>
      <div class="card-poster">
        <picture>
          <img class="card-poster__img" src="./images/poster-example.jpg" alt="film poster" />
        </picture>
      </div>
      <div class="card-records">
        <h1 class="card-records__title">A FISTFUL OF LEAD</h1>
        <div class="card-records__info">
          <ul class="card-records__items">
            <li class="card-records__item">Vote / Votes</li>
            <li class="card-records__item">Popularity</li>
            <li class="card-records__item">Original Title</li>
            <li class="card-records__item">Genre</li>
          </ul>

          <ul class="card-records__subitems">
            <li class="card-records__subitem">
              <span class="card-records__vote">7.3</span> /
              <span class="card-records__votes">1260</span>
            </li>
            <li class="card-records__subitem">100.2</li>
            <li class="card-records__subitem uppercase">A FISTFUL OF LEAD</li>
            <li class="card-records__subitem">Western</li>
          </ul>
        </div>

        <div>
          <h2 class="card-records__about">About</h2>
          <p class="card-records_description">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
            and the other three escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were planning to hit the very
            same bank! As tensions rise, things go from bad to worse as they realise the bags of
            gold are filled with lead... they’ve been double crossed – but by who and how?
          </p>
        </div>

        <div class="card-buttons">
          <button type="button" class="card-button" data-action="">add to Watched</button>
          <button type="button" class="card-button" data-action="">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
