<!-- <div class="lightbox js-lightbox is-open">
  <div class="lightbox__overlay"></div> -->

<div class="lightbox__content container">
  <div class="lightbox__wrapper">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="close-btn-svg close">
        <use href="./images/svg/close-btn.svg"></use>
      </svg>
    </button>
    <!-- <button type="button" class="lightbox__button" data-action="close-lightbox"></button> -->
    <!-- <div class="lightbox__card"> -->
    <div class="lightbox__poster">
      <picture>
        <img
          class="lightbox__img"
          src="./images/poster.jpg"
          alt="film poster"
          width="280"
          height="375"
        />
      </picture>
    </div>
    <div class="lightbox_desc">
      <h1 class="lightbox__title">A FISTFUL OF LEAD</h1>
      <div class="lightbox__info">
        <ul class="lightbox__items">
          <li class="lightbox__item">Vote / Votes</li>
          <li class="lightbox__item">Popularity</li>
          <li class="lightbox__item">Original Title</li>
          <li class="lightbox__item">Genre</li>
        </ul>

        <ul class="lightbox__subitems">
          <li class="lightbox__subitem">
            <span class="vote">7.3</span> / <span class="votes">1260</span>
          </li>
          <li class="lightbox__subitem">100.2</li>
          <li class="lightbox__subitem uppercase">A FISTFUL OF LEAD</li>
          <li class="lightbox__subitem">Western</li>
        </ul>
      </div>

      <div>
        <h2 class="lightbox__about">About</h2>
        <p class="lightbox_description">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>

      <div class="lightbox__buttons">
        <button type="button" class="button" data-action="">add to Watched</button>
        <button type="button" class="button" data-action="">add to queue</button>
      </div>
    </div>
  </div>

  <!-- </div> -->
  <!-- </div>
</div> -->
</div>
